@page
@model SejlKlubsApp.Pages.Sailors.DeleteSailorModel
@{
    ViewData["Title"] = "DeleteSailor";
}

<h1>Slet Sejler</h1>

<h3>Er du sikker at du vil slette denne sejler</h3>

<div class="alert alert-warning" role="alert">
    @Model.InfoText
</div>
<form method="post">
    <hr />
    <dl class="row">
        <dd class="form-group">
            <label asp-for="@Model.Sailor.SailorId" class="control-label"></label>
            <input asp-for="@Model.Sailor.SailorId" readonly="readonly" class="form-control" />
        </dd>
        <dd class="form-group">
            <label asp-for="@Model.Sailor.Name" class="control-label"></label>
            <input asp-for="@Model.Sailor.Name" readonly="readonly" class="form-control" />
        </dd>
        <dd class="form-group">
            <label asp-for="@Model.Sailor.LastName" class="control-label"></label>
            <input asp-for="@Model.Sailor.LastName" readonly="readonly" class="form-control" />
        </dd>
        <dd class="form-group">
            <label asp-for="@Model.Sailor.Age" class="control-label"></label>
            <input asp-for="@Model.Sailor.Age" readonly="readonly" class="form-control" />
        </dd>
        <dd class="form-group">
            <label asp-for="@Model.Sailor.Phone" class="control-label"></label>
            <input asp-for="@Model.Sailor.Phone" readonly="readonly" class="form-control" />
        </dd>
        <dd class="form-group">
            <label asp-for="@Model.Sailor.Email" class="control-label"></label>
            <input asp-for="@Model.Sailor.Email" readonly="readonly" class="form-control" />
        </dd>
        <dd class="form-group">
            <label asp-for="@Model.Sailor.Password" class="control-label"></label>
            <input asp-for="@Model.Sailor.Password" readonly="readonly" class="form-control" />
        </dd>
        <dd class="form-group">
            <label asp-for="@Model.Sailor.Password2" class="control-label"></label>
            <input asp-for="@Model.Sailor.Password2" class="form-control" />
            <span asp-validation-for="@Model.Sailor.Password2" class="text-danger"></span>
        </dd>
        <dd class="form-group">
            <label asp-for="@Model.Sailor.Admin" class="control-label"></label>
            @if (Model.Sailor.Admin)
            {
                <p>Ja</p>
            }
            else
            {
                <p>Nej</p>
            }
        </dd>
    </dl>
    <input type="submit" value="Delete" class="btn btn-danger" />&nbsp; | &nbsp;
    @if (Model.Sailor.Admin)
    {
        <a asp-page="GetAllSailors">Afbyrd sletning</a>
    }
</form>