@page
@model SejlKlubsApp.Pages.Sailors.EditSailorModel
@{
    ViewData["Title"] = "EditSailor";
}

<h1>Ændre sejler status</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Sailor.SailorId" />
            <div class="form-group">
                <label asp-for="@Model.Sailor.Name" class="contrl-label"></label>
                <input asp-for="@Model.Sailor.Name" class="form-control" />
                <span asp-validation-for="@Model.Sailor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Sailor.LastName" class="contrl-label"></label>
                <input asp-for="@Model.Sailor.LastName" class="form-control" />
                <span asp-validation-for="@Model.Sailor.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Sailor.Age" class="contrl-label"></label>
                <input asp-for="@Model.Sailor.Age" class="form-control" />
                <span asp-validation-for="@Model.Sailor.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Sailor.Phone" class="contrl-label"></label>
                <input asp-for="@Model.Sailor.Phone" class="form-control" />
                <span asp-validation-for="@Model.Sailor.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Sailor.Email" class="contrl-label"></label>
                <input asp-for="@Model.Sailor.Email" class="form-control" />
                <span asp-validation-for="@Model.Sailor.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Sailor.Password" class="contrl-label"></label>
                <input asp-for="@Model.Sailor.Password" class="form-control" />
                <span asp-validation-for="@Model.Sailor.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>