@page
@model SejlKlubsApp.Pages.Boats.NewBoatModel
@{
    ViewData["Title"] = "NewBoat";
    var images = "~/images/" + (Model.Boat.ImageName ?? "noImages.jpg");
}

<h1>Tilføj en ny Båd</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="None" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Boat.ImageName"/>
            <div class="form-group">
                <label asp-for="@Model.Boat.BoatType" class="control-label"></label>
                <input asp-for="@Model.Boat.BoatType" class="form-control" />
                <span asp-validation-for="@Model.Boat.BoatType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Boat.Color" class="control-label"></label>
                <input asp-for="@Model.Boat.Color" class="form-control" />
                <span asp-validation-for="@Model.Boat.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Boat.Condition" class="control-label"></label>
                <input asp-for="@Model.Boat.Condition" class="form-control" />
                <span asp-validation-for="@Model.Boat.Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="Photo" class="custom-file-input form-control" />
                    <label class="custom-file-label">Click here to input Photo</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            @section Scripts{
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(fileName);
                        });
                    });
                </script>
            }
            <div class="form-group">
                <img class="thumbnail" src="@images" width="80" height="70" asp-append-version="true" />
            </div>
        </form>
    </div>
</div>